<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>p1</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>p2</param-name>
        <param-value>2</param-value>
    </context-param>
    <context-param>
        <param-name>p3</param-name>
        <param-value>3</param-value>
    </context-param>
    <context-param>
        <param-name>p4</param-name>
        <param-value>4</param-value>
    </context-param>
    <servlet>
        <servlet-name>mytest</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mytest</servlet-name>
        <url-pattern>/myurl</url-pattern>
    </servlet-mapping>

</web-app>
