<div class="nav top-nav hidden-print">
    <ul>
        <li class="site-title">
            <a href="{{ '/' | absolute_url }}">
              <h1>{{ site.title | default: site.github.repository_name }}</h1>
            </a>
        </li>
        <li class="icon download">
            <a href="/download.html">Download<p>Distributions, Release Notes</p></a>
            </li>
        <li class="icon documentation">
            <a href="/documentation.html">Documentation<p>User Guides, Manuals</p></a>
        </li>
        <li class="icon contributing">
            <a href="/CONTRIBUTING.html">Get Involved<p>Community, Developer Resources</p></a>
        </li>
        <li class="icon support">
            <a href="/support.html">Support<p>Professional Services or Support</p></a>
        </li>
    </ul>
</div>