<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2017, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>GoogleWebApp</display-name>
  <servlet>
    <servlet-name>GoogleServlet</servlet-name>
    <servlet-class>googleserverweb.GoogleServletImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleServlet</servlet-name>
    <url-pattern>/GoogleSearch</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
  <env-entry>
    <env-entry-name>entry1</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Blah</env-entry-value>
  </env-entry>
  <service-ref>
    <description>service ref for ejb endpoint</description>
    <service-ref-name>service/EjbDIIReference</service-ref-name>
    <service-interface>javax.xml.rpc.Service</service-interface>
    <wsdl-file>WEB-INF/wsdl/GoogleSearch.wsdl</wsdl-file>
    <jaxrpc-mapping-file>googleweb.model</jaxrpc-mapping-file>
    <service-qname xmlns:googlens="urn:GoogleSearch">googlens:GoogleSearchService</service-qname>
    <port-component-ref>
      <service-endpoint-interface>googleserverweb.GoogleSearchPort
      </service-endpoint-interface>
      <port-component-link>googleserver-ejb.jar#GoogleSearchEjbPort</port-component-link>
    </port-component-ref>
   </service-ref>
</web-app>
