<?xml version="1.0" encoding="UTF-8"?>
<persistence
    version="3.0"
    xmlns="https://jakarta.ee/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd">
    <persistence-unit name="UnitA" transaction-type="JTA">
        <jta-data-source>jdbc/dsPoolA</jta-data-source>
        <properties>
            <property name="jakarta.persistence.schema-generation.database.action" value="drop-and-create" />
            <property name="eclipselink.cache.shared.default" value="false" />
            <property name="eclipselink.query-results-cache" value="false" />
        </properties>
    </persistence-unit>
</persistence>
