
name: Build GlassFish on Windows
on:
  pull_request:
    branches: [ "master", "7.0", "8.0" ]

defaults:
  run:
    working-directory: 'R:\glassfish'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: windows-2025
    name: Build GlassFish on Windows
    steps:
    - name: Setup RAM Disk
      uses: chad-golden/setup-ramdisk@v1.0.1
      with:
        size-in-mb: 10240
    - name: Checkout
      shell: powershell
      working-directory: 'R:\'
      run: |
        git clone --filter=tree:0 --no-checkout ${{ github.server_url }}/${{ github.repository }} glassfish
        cd glassfish
        git fetch --depth=1 origin ${{ github.sha }}
        git checkout ${{ github.sha }}
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Print System Info
      run: systeminfo
    - name: Build with Maven
      # qa skips documentation - we check it on Jenkins CI
      # We skip checkstyle too - we check it on Jenkins CI
      run: mvn -B -e -ntp install -Pqa '-Dcheckstyle.skip=true'
    - name: Upload server logs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: server-logs
        path: '**/server.log*'
        retention-days: 3
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # do not run if build cancelled
      with:
        report_paths: '**/target/*-reports/TEST-*.xml'
        annotate_only: true
        simplified_summary: true
        skip_success_summary: true
        detailed_summary: true
        flaky_summary: true
    - name: Dismount RAM Disk
      uses: chad-golden/setup-ramdisk/dismount@v1.0.1
