
name: Build GlassFish on Windows
on:
  pull_request:
    branches: [ "master", "7.0", "8.0" ]

defaults:
  run:
    working-directory: 'R:\glassfish'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: windows-2025
    name: Build GlassFish on Windows
    steps:
    - name: Setup RAM Disk
      shell: powershell
      working-directory: 'D:\'
      run: |
        choco install imdisk-toolkit -y
        imdisk -a -s 10G -m R: -p "/fs:ntfs /q /y"
        # Verify it's mounted and formatted
        Get-PSDrive R
        Get-Volume | Where-Object {$_.DriveLetter -eq 'R'}
    - name: Checkout
      shell: powershell
      working-directory: 'R:\'
      run: |
        git clone --filter=tree:0 --no-checkout ${{ github.server_url }}/${{ github.repository }} glassfish
        cd glassfish
        git fetch --depth=1 origin ${{ github.sha }}
        git checkout ${{ github.sha }}
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Print System Info
      run: systeminfo
    - name: Build with Maven
      # each step takes a lot of disk space, so we split it to multiple parts like on jenkins,
      # and after each we don't delete test results, but we do delete files we don't need any more.
      run: |
        mvn -B -e -ntp install '-Pfastest' -T4C
    - name: Main Tests
      # qa skips documentation - we check it on Jenkins CI
      # We skip checkstyle too - we check it on Jenkins CI
      run: |
        mvn -B -e -ntp verify '-Pqa,ci-main-tests' '-Dcheckstyle.skip=true'
        mvn -B -e -ntp clean '-Pclean-partial,qa
    - name: Admin Tests
      run: |
        mvn -B -e -ntp verify '-Dcheckstyle.skip=true' -pl ':admin-tests-parent' '-amd'
        mvn -B -e -ntp clean '-Pclean-partial,qa' -pl ':admin-tests-parent' '-amd'
    - name: Application Tests
      run: |
        mvn -B -e -ntp verify '-Dcheckstyle.skip=true' -pl ':application-tests'
        mvn -B -e -ntp clean '-Pclean-partial' -pl ':application-tests'
    - name: Embedded Tests
      run: |
        mvn -B -e -ntp verify '-Dcheckstyle.skip=true' -pl ':embedded-tests' '-amd'
        mvn -B -e -ntp clean '-Pclean-partial' -pl ':embedded-tests' '-amd'
    - name: Upload server logs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: server-logs
        path: '**/server.log*'
        retention-days: 3
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # do not run if build cancelled
      with:
        report_paths: '**/target/*-reports/TEST-*.xml'
        annotate_only: true
        simplified_summary: true
        skip_success_summary: true
        detailed_summary: true
        flaky_summary: true
