
name: Build GlassFish on MacOS
on:
  pull_request:
    branches: [ "master", "7.0", "8.0" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: macos-15
    name: Build GlassFish on MacOS
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      # qa skips documentation - we check it on Jenkins CI
      # We skip checkstyle too - we check it on Jenkins CI
      run: mvn -B -e -ntp install -Pstaging -Pqa '-Dcheckstyle.skip=true' -Pfastest
    - name: Test Starts
      run: mvn -B -e -ntp install -Pstaging '-Dcheckstyle.skip=true' -pl :glassfish-itest-tools
    - name: Upload server logs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: server-logs
        path: '**/server.log*'
        retention-days: 3
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v5
      if: success() || failure() # do not run if build cancelled
      with:
        report_paths: '**/target/*-reports/TEST-*.xml'
        annotate_only: true
        simplified_summary: true
        skip_success_summary: true
        detailed_summary: true
        flaky_summary: true
