
name: Build on Ubuntu
on:
  pull_request:
    branches: [ "master", "7.0", "8.0" ]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: List ports
      run: ss -tulpn
    - name: Build with Maven
      # qa skips documentation - we check it on Jenkins CI
      # We skip checkstyle too - we check it on Jenkins CI
      run: mvn -B -e -ntp install -Pstaging -Pqa '-Dcheckstyle.skip=true'
    - name: Upload server logs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: server-logs
        path: '**/server.log*'
        retention-days: 3
